<%= render 'layouts/shared/sp-header' %>
<h1 class='sp-top-home'>ランキング</h1>
<div class='sp-main'>
  <div class='sp-list-box'>
    <% @all_ranks.each.with_index(1) do |post, i| %>
      <%= link_to post_path(post) do %>
        <div id='ranking-<%= i %>' class='sp-list-box__ranking'>
          <%="No.#{i}"%>
        </div>
        <div class='sp-post-box'>
          <%= yama_index_list_image(post) %>
          <div class='sp-post-box__description'>
            <label><%= post.user.nickname %></label><br/>
            <%= post.name %>
            <div class='sp-post-box__description__comment'>
              <%= post.text %>
            </div>
          </div>
        </div>
      <% end %>
      <div class='sp-post-box__like'>
        <%= render 'likes/like-links', post: post %>
        <i class='far fa-comment fa-2x'>
          <span><%= post.comments.count %></span>
        </i>
      </div>
    <% end %>
  </div>
</div>
<%= render 'layouts/shared/sp-button' %>
<%= render 'layouts/shared/sp-banner' %>