<main>
  <%= render 'layouts/shared/header' %>
  <div class='new-post-box'>
    <div class='new-post-box__container'>
      <%= render 'devise/partial/edit-profile' %>
    </div>
  </div>
  <%= render 'layouts/shared/footer' %>
</main>

<div class='sp-main'>
  <%= render 'layouts/shared/sp-header' %>
  <div class='sp-new-box'>
    <%= render 'devise/partial/sp-edit-profile' %>
  </div>
  <%= render 'layouts/shared/sp-banner' %>
</div>
