<body>
  <%= render "layouts/shared/header" %>
  <div class="new-post-box">
    <div class="new-post-container">
      <div class="new-name">
        <%= current_user.nickname %>さんの個人情報編集
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-registration-box">
          <%= f.label :email, class:'new-name-form' %>
        </div>
        <div class="text-form-box">
          <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレスを編集', autocomplete: "email", class:'new-part-form' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-registration-box">
          <%= f.label :nickname, class:'new-name-form' %><br/>
          (6文字以内)
        </div>
        <div class="text-form-box">
          <%= f.text_field :nickname, placeholder: 'ニックネームを入力', maxlength: "6", class:'new-part-form' %>
        </div>
        <div class="form-registration-box">
          <%= f.label :新しいパスワード, class:'new-name-form' %>
        </div>
        <div class="form-registration-box">
          パスワードを変更しない場合は空白のままにして下さい
        </div>
        <div class="text-form-box">
          <%= f.password_field :password, placeholder: '新しいパスワードを入力', autocomplete: "new-password", class:'new-part-form' %>
        </div>
        <div class="form-registration-box">
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> 文字以上</em>
          <% end %>
        </div>
        <div class="form-registration-box">
          <%= f.label :password_confirmation, class:'new-name-form' %>
        </div>
        <div class="text-form-box">
          <%= f.password_field :password_confirmation, placeholder: "新しいパスワードをもう一度", class:'new-part-form' %>
        </div>
        <div class="form-registration-box">
          <%= f.label :current_password, class:'new-name-form' %>
        </div>
        <div class="form-registration-box">
          変更を適用する為には現在、設定しているパスワードを入力して下さい
        </div>
        <div class="text-form-box">
          <%= f.password_field :current_password, autocomplete: "current-password",placeholder: "パスワードを入力", class:'new-part-form' %>
        </div>

        <%= f.submit "更新する", class:'new-form-btn' %>
        <div class="devise-back-btn">
          <%= link_to "戻る", :back, class:'back-btn' %>
        </div>
      <% end %>

      <h3>アカウントの削除</h3>
      <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当にアカウントを削除してもよろしいですか?" }, method: :delete %>
    </div>
  </div>
  <%= render "layouts/shared/footer" %>
<body>
