<body>
  <%= render "layouts/shared/header" %>
    <div class="new-post-box">
      <div class="new-post-container">
        <div class="new-name">
          新規会員登録
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-registration-box">
            <%= f.label :email, class:'new-name-form' %>
          </div>
          <div class="text-form-box">
            <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレスを入力', class:'new-part-form' %>
          </div>
          <div class="form-registration-box">
            <%= f.label :nickname, class:'new-name-form' %>
          </div>
          <div class="text-form-box">
            <%= f.text_field :nickname, placeholder: 'ニックネームを入力', class:'new-part-form' %>
          </div>
          <div class="form-registration-box">
            <%= f.label :profile, class:'new-name-form' %>
          </div>
          <div class="text-form-box">
            <%= f.text_area :profile, placeholder: '自己紹介しよう！', class:'new-part-form', id:'textarea' %>
          </div>
          <div class="form-registration-box">
            <%= f.label :password, class:'new-name-form' %>
          </div>
          <div class="form-registration-box">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </div>
          <div class="text-form-box">
            <%= f.password_field :password, placeholder: 'パスワードを入力', autocomplete: "new-password", class:'new-part-form' %>
          </div>
          <div class="form-registration-box">
            <%= f.label :password_confirmation, class:'new-name-form' %>
          </div>
          <div class="text-form-box">
            <%= f.password_field :password_confirmation, placeholder: 'パスワードをもう一度入力', autocomplete: "new-password", class:'new-part-form' %>
          </div>
          <div class="form-registration-box">
            <%= f.label :プロフィール画像, class:'new-name-form' %>
          </div>
          <div class="photo-form">
            <div class="form-mask">
              <%= f.label :image, class:'form-mask-image' do %>
                <%= f.file_field :image, class:'hidden' %>
                <div class="form-mask-image">プロフィール画像をアップロード</div>
                <i class="far fa-image fa-3x"></i>
              <% end %>
            </div>
          </div>
          <div class="preview"></div>
          <%= f.submit "登録する", class:'new-form-btn' %>
        <% end %>
        既にアカウントをお持ちですか？
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <%= render "layouts/shared/footer" %>
</body>
