<header class='header-main'>
  <div class='logo'>
    <%= link_to root_path, class:'logo__root-path' do %>
      <p class="animation_07">岳人</p>
    <% end %>
    <div id='nav-container'>
      <div class='toggle-icon'>
        <span class='bar'></span>
        <span class='bar'></span>
        <span class='bar'></span>
      </div>
    </div>
  </div>
  <h3 class='header-main__logo-txt'>大好きな山や山メシをシェアしよう</h3>
  <% if user_signed_in? %>
    <div class='header-main__search'>
      <%= search_form_for @search, url:search_posts_path do |f| %>
        <i class='fa fa-chevron-down'></i>
        <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {prompt: "---"} %>
        <%= f.search_field :name_or_text_cont, class: 'header-main__search__text', placeholder: '山の名前を検索' %>
        <%= f.submit '検索', class:'header-main__search__btn' %>
      <% end %>
    </div>
  <% end %>
</header>
<%= render 'users/shared/login-header' %>