編集仮置き
<%= form_for [@post, @comment], url:{ action: 'update' } do |f| %>
  <%= f.text_area :text %>
  <%= f.submit '編集を完了する' %>
<% end %>

<%= render 'layouts/shared/sp-header' %>
<div class='sp-main'>
  <%= render 'comments/shared/sp-post-comment' %>
  <%= form_for [@post, @comment], url:{ action: 'update' } do |f| %>
    <div class='sp-new-comment-box'>
      <%= f.text_area :text, class:'sp-new-comment-box__form' %>
      <%= f.submit '編集を完了する', class:'sp-new-comment-box__btn' %>
    </div>
  <% end %>
</div>
<%= render 'layouts/shared/sp-banner' %>