<div class='sp-main'>
  <%= render 'layouts/shared/sp-header' %>
  <%= render 'comments/shared/sp-post-comment' %>
    <% if signed_in? %>
      <%= form_for [@post, @comment] do |f| %>
        <div class='sp-new-comment-box'>
          <%= f.text_area :text, class:'sp-new-comment-box__form' %>
          <%= f.submit 'コメントする', class:'sp-new-comment-box__btn' %>
        </div>
      <% end %>
    <% else %>
      <%= link_to 'ログインしてコメントしよう！', new_user_session_path, class:'sp-comment-login-link' %>
    <% end %>
  </div>
  <%= render 'layouts/shared/sp-banner' %>
</div>