<div class="new-post-box__container__name">
  新規会員登録
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-registration-box">
    <%= f.label :email, class:'form-registration-box__name' %>
  </div>
  <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレスを入力', class:'new-part-form' %>

  <div class="form-registration-box">
    <%= f.label :nickname, class:'form-registration-box__name' %>
  </div>
  <%= f.text_field :nickname, placeholder: 'ニックネームを入力', maxlength:20, class:'new-part-form' %>

  <div class="form-registration-box">
    <%= f.label :profile, class:'form-registration-box__name' %>
  </div>
  <%= f.text_area :profile, placeholder: '自己紹介しよう！', class:'new-part-form', id:'textarea' %>

  <div class="form-registration-box">
    <%= f.label :password, class:'form-registration-box__name' %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
  </div>
  <%= f.password_field :password, placeholder: 'パスワードを入力', autocomplete: "new-password", class:'new-part-form' %>

  <div class="form-registration-box">
    <%= f.label :password_confirmation, class:'form-registration-box__name' %>
  </div>
  <%= f.password_field :password_confirmation, placeholder: 'パスワードをもう一度入力', autocomplete: "new-password", class:'new-part-form' %>

  <div class="form-registration-box">
    <%= f.label :プロフィール画像, class:'form-registration-box__name' %>
  </div>
  <%= f.file_field :image, class:'file-field' %>

  <%= f.submit "登録する", class:'new-post-box__btn' %>
<% end %>
既にアカウントをお持ちですか？
<%= render 'devise/shared/links' %>