<div class='mypage-header'>
  <div id="nav-toggle">
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="gloval-nav">
    <% if signed_in? %>
      <nav>
        <ul>
          <li><%=link_to 'Home', root_path %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'マイページ', current_user %></li>
          <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
          <li><%= link_to '登った山とメシを投稿', new_post_path %></li>
        </ul>
      </nav>
    <%else %>
      <nav>
        <ul>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to '新規登録', new_user_registration_path %></li>
        </ul>
      </nav>
    <% end %>
  </div>
  <h2 class='mypage-header__text'>岳人</h2>
  <h3 class='mypage-header__kana'>〜たけと〜</h3>
  <div class='wrapper'>
    <% if signed_in? %>
      <div class='icon-search-container' data-ic-class='search-trigger'>
        <span class='fa fa-search'></span>
        <%= search_form_for @search, url:search_posts_path do |f| %>
          <%= f.search_field :name_or_text_cont, class:'search-input', placeholder:'search' %>
          <%= f.submit '検索', type:'hidden' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>