<% if user_signed_in? %>
  <div class="mypage-header">
    <div class="mypage-contents">
      <div class="mypage-contents__link">
        <%= link_to "登った山とメシを投稿", new_post_path, class:'mypage-contents__link__path header' %>
      </div>
      <div class="mypage-contents__link">
        <%= link_to current_user, class:'mypage-contents__link__path header' do %>
          マイページ
        <% end %>
      </div>
      <div class="mypage-contents__btn">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:'mypage-contents__btn__path' %>
      </div>
      <div class="mypage-contents__btn">
        <%= link_to "プロフィール変更", edit_user_registration_path, class:'mypage-contents__btn__path' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="mypage-header">
    <div class="mypage-contents">
      <h2 class="mypage-contents__name">
        こんにちは！ユーザーさん！
      </h2>
      <div class="mypage-contents__link">
        <%= link_to "ログイン", new_user_session_path, class:'mypage-contents__link__path header' %>
      </div>
      <div class="mypage-contents__link">
        <%= link_to "新規登録", new_user_registration_path, class:'mypage-contents__link__path header' %>
      </div>
    </div>
  </div>
<% end %>