<h2 class="list-title">みんなの山メシ投稿一覧</h2>
<ul class="horizontal-list">
  <% @meals.each do |meal| %>
    <%= link_to "meals/#{ meal.id }",data: {"turbolinks"=>false} do %>
      <li class="item">
        <div class="box-top">
          <div class="picture">
            <% if meal.image.present? %>
              <%= image_tag meal.image.url, class:"yama-picture"%>
            <% else %>
              <img src="https://mgs01y1.wowma.net/pc/img/common/no_image300.gif?query=201908071342" alt="" class="yama-picture">
            <% end %>
          </div>
          <div class="yama-description">
            <div class="yama-display name">
              <%= meal.name %>
            </div>
            <div class="yama-display">
              調理時間:<%= meal.cooking_time %>分
            </div>
            <label>調理方法</label>
            <div class="latest-comment">
              <%= meal.cooking_method %>
            </div>
            <label>食材・材料</label>
            <div class="latest-comment">
              <%= meal.food_stuff %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>