<% visitor = notification.visitor %>
<% visited = notification.visited %>
<article class='notification-article'>
  <section class='notification-section-left'>
    <%= link_to user_path(visitor) do %>
      <%= notification_user_image(visitor) %>
    <% end %>
  </section>
  <section class='notification-section-right'>
    <div class='notification-section-right__content'>
      <%= link_to user_path(visitor), class:'notification-section-right__content__link'  do %>
        <strong><%= visitor.nickname %></strong>
      <% end %>
        さんが
      <% case notification.action when 'follow' %>
          あなたを
          <p class='notification-section-right__content__text-bold'>
            フォロー
          </p>
          しました!
        <% when 'like' then %>
          <%= link_to 'あなたの投稿', notification.post, class:'notification-section-right__content__link' %>
          に
          <p class='notification-section-right__content__text-bold'>
            いいね!
          </p>
          しました!
        <% when 'comment' then %>
          <% if notification.post.user_id == visited.id %>
            <%= link_to 'あなたの投稿', notification.post, class:'notification-section-right__content__link' %>
          <%else%>
            <%= link_to post_path(notification.post) do %>
              <strong><%= notification.post.user.nickname %>さんの投稿</strong>
            <% end %>
          <% end %>
          に
          <p class='notification-section-right__content__text-bold'>
            コメント
          </p>
          しました!
          <div class='notification-section-right__content__comment-text'>
            <p><%= Comment.find_by(id: notification.comment_id)&.text %></p>
          </div>
      <% end %>
      <div class='notification-section-right__content__time'>
        <p><%= time_ago_in_words(notification.created_at).upcase %></p>
      </div>
    </div>
  </section>
</article>