<% provide(:title, @title) %>
<main>
  <%= render 'layouts/shared/header' %>
  <div class='follow-list'>
    <div class='follow-list__container'>
      <%= render 'users/shared/stats' %>
      <div class='follow-list__title'><%= @title %></div>
      <% if @users.any? %>
        <% @users.each do |user| %>
          <div class='follow-user'>
            <%= link_to user, class:'follow-user__link' do %>
              <%= show_follow_user_image(user) %>
              <div class='follow-user__nickname'><%= user.nickname %></div>
            <% end %>
          </div>
        <% end %>
        <div class='follow-list__paginate'><%= paginate @users %></div>
      <% end %>
      <div class='follow-list__btn'>
        <%= link_to "ホーム", root_path, class:'follow-list__btn__gray' %>
      </div>
    </div>
  </div>
  <%= render 'layouts/shared/footer' %>
</main>
<%# スマホ用フォロー一覧ページ %>
<div class='sp-main'>
  <%= render 'layouts/shared/sp-header' %>
  <%= render 'users/shared/stats' %>
  <% if @users.any? %>
    <% @users.each do |user| %>
      <div class='sp-list-box'>
        <%= link_to user do %>
          <div class='sp-post-box'>
            <%= sp_index_user_image(user) %>
            <div class='sp-post-box__description'>
              <%= user.nickname %>
              <div class='sp-post-box__description__comment'>
                <label><%= user.profile %><label>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class='follow-list__paginate'><%= paginate @users %></div>
  <% end %>
  <%= render 'layouts/shared/sp-button' %>
  <%= render 'layouts/shared/sp-banner' %>
</div>