<body>
  <%= render "layouts/shared/header" %>
    <div class="detail-post-box">
      <div class="detail-user-container">
        <div class="detail-picture">
        <% if @user.image.present? %>
          <%= image_tag @user.image.url, class:"user-face" %>
        <% else %>
          <img class="user-face" src="https://static.mercdn.net/images/member_photo_noimage_thumb.png">
        <% end %>
        </div>
        <div class="user-follow-box">
          <%= render 'users/shared/stats' %>
          <%= render 'follow_form' if user_signed_in? %>
          <div class="detail-nickname"><%= @user.nickname %></div>
        </div>
      </div>
      <div class="detail-container">
        <h2>プロフィール</h2>
        <div class="detail-description">
          <div class="etail-description__display">
            <%= @user.profile %>
          </div>
        </div>
        <% if @user.posts.any? %>
          <h2>投稿一覧 (<%= @user.posts.count %>)</h2>
          <div class="search-container", id="posts">
            <%= render partial: 'posts/partial/yama-lists', collection: @posts, as:'post'%>
          </div>
          <%= paginate @posts %>
        <% else %>
          <h2>まだ投稿はありません</h2>
        <% end %>
        <div class="detail-btn">
          <%= link_to 'ホーム', root_path, class:'detail-btn__gray' %>
        </div>
      </div>
    </div>
  <%= render "layouts/shared/footer" %>
</body>