<h2 class='sp-detail__title'>コメント(<%= @post.comments.count %>)</h2>
<% if @comments.present? %>
  <% @comments.each do |comment| %>
    <div class='sp-detail__user'>
      <%= link_to comment.user do %>
        <%= sp_comment_user_image(comment) %>
      <% end %>
      <div class='sp-detail__user__comment-nickname'>
        <%= comment.user.nickname %>さん
        <% if user_signed_in? && current_user.id == comment.user_id %>
          <%= link_to edit_post_comment_path(comment.post.id, comment.id), method: :get, class:'comment-edit-path' do %>
            <i class='far fa-edit'></i>
          <% end %>
          <%= link_to post_comment_path(comment.post.id, comment.id), method: :delete, data: { confirm: '本当に削除しますか?' }, class:'comment-delete-path' do %>
            <i class='far fa-trash-alt'></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='sp-detail__comment__box'>
      <h3 class='sp-detail__comment__box__text'>
        <%= simple_format(comment.text) %>
      </h3>
    </div>
  <% end %>
  <%= link_to post_comment_path(@post), class:'comment-show-path' do %>
    <h3 class='comment-show-path__text'>コメント一覧</h3>
  <% end %>
<% else %>
  <h2>まだコメントはありません</h2>
<% end %>
</div>