<h2>ユーザーさんからのコメント(<%= @post.comments.count %>)</h2>
<div class='detail-comment'>
  <div class='detail-comment__box'>
    <% if @comments.present? %>
      <% @comments.each do |comment| %>
        <div class='comment-user'>
          <%= link_to comment.user do %>
            <%= comment_user_image(comment) %>
          <% end %>
          <div class='comment-user__name'>
            <%= comment.user.nickname %>さん
          </div>
        </div>
        <div class='comment-text-area'>
          <%= simple_format(comment.text) %>
        </div>
      <% end %>
    <% else %>
      <h2>まだコメントはありません</h2>
    <% end %>
  </div>
</div>
<%= link_to 'コメント一覧', post_comment_path(@post), class:'comment-link-path' %>
<% if current_user %>
  <h2>コメントを書く</h2>
  <div class='detail-description'>
    <div class='detail-description__display'>
      <%= form_for [@post, @comment], id: 'new_comment' do |f| %>
        <%= f.text_area :text, class:'comment-form textbox', id:'textarea' %>
        <%= f.submit 'コメントする', class:'comment-btn form__submit' %>
      <% end %>
    </div>
  </div>
<% end %>