<% @meals.each do |meal| %>
  <div class='sp-list-box'>
    <%= link_to meal_path(meal) do %>
      <div class='sp-post-box'>
        <%= sp_index_list_image(meal) %>
        <div class='sp-post-box__description'>
          <label><%= meal.name %></label><br/>
          調理時間:<%= meal.cooking_time %>分
          <div class='sp-post-box__description__comment'>
            調理方法:<%= meal.cooking_method %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>