<div class="middle-container">
  <div class="post-title-container">
    <h2 class="list-title">山登り好きの最新投稿</h2>
    <div class="new-icon">
      <p>new</p>
    </div>
  </div>
  <div class="latest-posts">
    <% @posts.each do |post| %>
      <%= link_to "posts/#{ post.id }" do %>
        <div class="post-box">
          <div class="post-picture">
            <% if post.image.present? %>
              <%= image_tag post.image.url, class:"post-yama-picture"%>
            <% else %>
              <%= image_tag"no_image.png", class:"post-yama-picture"%>
            <% end %>
          </div>
          <div class="post-yama-description">
            <label><%= post.user.nickname %>さんの投稿</label>
            <div class="post-yama-display name"><%= post.name %></div>
            <div class="post-latest-comment"><%= post.text %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>