<%# トップページ・検索結果ページ・user#showでrender~collectionしているファイル %>
<%= link_to post_path(post) do %>
  <li class='item-box'>
    <div class='box-left'>
        <%= horizontal_list_image(post) %>
      <div class='item-description'>
        <div class='item-description__name'>
          <%= post.name %>
        </div>
        <div class='item-description'>
          山頂標高：<%= post.elevation %>M<br>
          歩行距離：<%= post.walking_distance %>KM<br>
          <%= post.difficulty_i18n %><br/>
          <%= post.prefecture.name %>
        </div>
        <label>一言コメント</label>
        <div class='item-description__comment'>
          <%= post.text %>
        </div>
        <div class='like'>
          <i class='fas fa-heart fa-2x'></i>
          <span><%= post.likes_count %></span>
        </div>
      </div>
    </div>
  </li>
<% end %>