<body>
  <%= render "layouts/shared/header" %>
  <%= render 'layouts/shared/flash' %>
  <% if @meal.errors.any? %>
    <ul>
      <% @meal.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="new-post-box">
    <div class="new-post-container">
      <div class="new-name">
        山メシを投稿しよう
      </div>
      <%= form_for @meal do |f| %>
        <div class="form-registration-box">
          <%= f.label :山メシの名前, class:'new-name-form' %>
          <%= f.label :必須, class:'form-require' %>
        </div>
        <div class="text-form-box">
          <%= f.text_field :name, autofocus: true, placeholder: '例) カレー', class:'new-part-form' %>
        </div>
        <div class="form-registration-box">
          <%= f.label :調理時間, class:'new-name-form' %>
          <%= f.label :必須, class:'form-require' %>
        </div>
        <div class="text-form-box">
          <%= f.text_field :cooking_time, placeholder: '例) 20分→20', class:'new-part-form' %>
        </div>
        <div class="form-registration-box">
          <%= f.label :使用する食材, class:'new-name-form'  %>
          <%= f.label :任意, class:'form-any-require' %>
        </div>
        <div class="text-form-box">
          <%= f.text_area :food_stuff, placeholder: '例）ニンジン1本。じゃがいも1個', id:'textarea' %>
        </div>
        <div class="form-registration-box">
          <%= f.label :調理方法, class:'new-name-form' %>
          <%= f.label :任意, class:'form-any-require' %>
        </div>
        <div class="text-form-box">
          <%= f.text_area :cooking_method, placeholder: '例）沸騰したお湯に切った野菜を入れる', id:'textarea' %>
        </div>
        <div class="form-registration-box">
          <%= f.label :画像, class:'new-name-form' %>
          <%= f.label :任意, class:'form-any-require' %>
        </div>
        <div class="photo-form">
          <div class="form-mask">
            <%= f.label :image, class:'form-mask-image' do %>
              <%= f.file_field :image, class:'hidden' %>
              <div class="form-mask-image">お気に入りの画像をアップロード</div>
              <i class="far fa-image fa-3x"></i>
            <% end %>
          </div>
        </div>
        <div class="preview"></div>
        <%= f.submit '投稿する', class:'new-form-btn' %>
      <% end %>
    </div>
  </div>
  <%= render "layouts/shared/footer" %>
</body>