<body>
<%= render "layouts/shared/header" %>
  <div class="detail-post-box">
    <div class="user-info-top">
      <% if @post.user.image.present? %>
        <%= image_tag @post.user.image.url, class:'user-face' %>
      <% else %>
        <img class="user-face" src="https://static.mercdn.net/images/member_photo_noimage_thumb.png">
      <% end %>
      <div class="detail-user-name">
        <%= @post.user.nickname %>
      </div>
    </div>
    <div class="detail-post-container">
      <div class="detail-name">
        <%= @meal.name %>
      </div>
      <div class="detail-post-picture">
        <% if @meal.image.present? %>
          <%= image_tag @meal.image.url, class:"detail-yama-picture"%>
        <% else %>
          <img src="https://mgs01y1.wowma.net/pc/img/common/no_image300.gif?query=201908071342" alt="" class="yama-picture">
        <% end %>
      </div>
      <h2>山メシの詳細データ</h2>
      <div class="detail-description">
        <div class="detail-display">
          調理時間:<%= @meal.cooking_time %>分
        </div>
      </div>
      <h2>使用する食材</h2>
      <div class="detail-comment">
        <%= simple_format(@meal.food_stuff) %>
      </div>
      <h2>調理方法</h2>
      <div class="detail-comment">
        <%= simple_format(@meal.cooking_method) %>
      </div>
      <h2>ユーザーさんからのコメント</h2>
      <div class="detail-comment">ここは仮置き</div>
      <div class="detail-btn">
        <%= link_to 'ホームへ戻る', root_path, class:'detail-edit-btn' %>
      </div>
    </div>
  </div>
<%= render "layouts/shared/footer" %>
</body>