<div id="main-container">
  <h2 class="list-title">hogeさんが登った山リスト</h2>
  <ul class="horizontal-list">
    <% @posts.each do |post| %>
      <li class="item">
        <div class="box-top">
          <div class="picture">
            <% if post.image %>
              <%= image_tag post.image, class:"yama-picture"%>
            <% else %>
              <%= image_tag"no_image.png", class:"yama-picture"%>
            <% end %>
          </div>
          <div class="yama-description">
            <div class="yama-display name">
              <%= post.name %>
            </div>
            <div class="yama-description">
              <div class="yama-display">
                山頂標高：<%= post.elevation %>M
              </div>
              <div class="yama-display">
                歩行距離:<%= post.walking_distance %>KM
              </div>
              <div class="yama-display">
                難易度:<%= post.difficulty %>
              </div>
            </div>
            <label>hogeさんの一言コメント</label>
            <div class="latest-comment">
              <%= post.text %>
            </div>
            <i class="fa fa-heart fa-2x"></i>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%# 上が山リスト表示範囲 %>
  <%# 下が山メシリスト表示範囲 %>
  <h2 class="list-title">hogeさんが食べた山メシリスト</h2>
  <ul class="horizontal-list">
    <li class="item">
      <div class="box-top">
        <div class="picture">
          <%= image_tag"山メシ.png", class:"yama-picture"%>
        </div>
        <div class="yama-description">
          <div class="yama-display name">つみれ鍋</div>
          <i class="fa fa-heart fa-2x"></i>
          <div class="yama-display">調理時間:20分</div>
          <label>調理方法</label>
          <div class="latest-comment">調理手順とか表示する欄</div>
          <label>食材・材料</label>
          <div class="latest-comment">食材・材料を表示する欄</div>
        </div>
      </div>
    </li>
    <li class="item">
      <div class="box-top">
        <div class="picture">
          <%= image_tag"山メシ.png", class:"yama-picture"%>
        </div>
        <div class="yama-description">
          <div class="yama-display name">つみれ鍋</div>
          <i class="fa fa-heart fa-2x"></i>
          <div class="yama-display">調理時間:20分</div>
          <label>調理方法</label>
          <div class="latest-comment">調理手順とか表示する欄</div>
          <label>食材・材料</label>
          <div class="latest-comment">食材・材料を表示する欄</div>
        </div>
      </div>
    </li>
    <li class="item">
      <div class="box-top">
        <div class="picture">
          <%= image_tag"山メシ.png", class:"yama-picture"%>
        </div>
        <div class="yama-description">
          <div class="yama-display name">つみれ鍋</div>
          <i class="fa fa-heart fa-2x"></i>
          <div class="yama-display">調理時間:20分</div>
          <label>調理方法</label>
          <div class="latest-comment">調理手順とか表示する欄</div>
          <label>食材・材料</label>
          <div class="latest-comment">食材・材料を表示する欄</div>
        </div>
      </div>
    </li>
    <li class="item">
      <div class="box-top">
        <div class="picture">
          <%= image_tag"山メシ.png", class:"yama-picture"%>
        </div>
        <div class="yama-description">
          <div class="yama-display name">つみれ鍋</div>
          <i class="fa fa-heart fa-2x"></i>
          <div class="yama-display">調理時間:20分</div>
          <label>調理方法</label>
          <div class="latest-comment">調理手順とか表示する欄</div>
          <label>食材・材料</label>
          <div class="latest-comment">食材・材料を表示する欄</div>
        </div>
      </div>
    </li>
  </ul>
</div>