<% provide(:title, @title) %>
<main>
  <%= render 'layouts/shared/header' %>
  <%= render 'layouts/shared/flash' %>
  <%= render 'layouts/shared/validation-message' %>
  <div class='new-post-box'>
    <div class='new-post-box__container'>
      <%= render 'posts/partial/edit-post' %>
    </div>
  </div>
  <%= render 'layouts/shared/footer' %>
</main>


<div class='sp-main'>
  <%= render 'layouts/shared/sp-header' %>
  <div class='sp-new-box'>
    <%= render 'posts/partial/sp-edit-post' %>
  </div>
  <%= render 'layouts/shared/sp-banner' %>
</div>