<body>
  <%= render "layouts/shared/header" %>
  <%= render "layouts/shared/flash" %>
  <main>
    <div class="large-container">
      <%= render "posts/partial/new-posts"%>
      <%= render "meals/partial/new-meals"%>
      <%= render "posts/partial/mypage-box"%>
    </div>
    <div id="main-container">
      <% if signed_in? %>
        <%= render "posts/partial/yama-lists" %>
        <%= render "meals/partial/meshi-lists" %>
      <% else %>
        <%= render "posts/partial/before-lists" %>
      <% end %>
    </div>
  </main>
  <%= render "layouts/shared/footer" %>
</body>
