<body>
  <%= render "layouts/shared/header" %>
  <%= render "layouts/shared/sp-header" %><%# スマホ用ヘッダー %>
  <%= render "layouts/shared/flash" %>
  <main>
    <div class="large-container">
      <%= render "posts/partial/post-lists"%>
      <%= render "users/user-lists"%>
      <%= render "users/mypage-box"%>
    </div>
    <div id="main-container">
      <h2 class="list-title">人気投稿ランキング</h2>
        <ul class="horizontal-list">
          <%= render 'posts/partial/ranking-lists' %>
        </ul>
      <%= render "meals/partial/meshi-lists" %>
      <% if signed_in? %>
        <h2 class="list-title"><%=current_user.nickname %>さんが登った山リスト</h2>
        <ul class="horizontal-list">
          <%= render partial: 'posts/partial/yama-lists', collection: @current_user_posts, as:'post' %>
        </ul>
      <% else %>
        <%= render "posts/partial/before-lists" %>
      <% end %>
    </div>
  </main>
  <h1 class="sp-top-home">ホーム</h1>
  <div class="sp-list-box">
    <%= render partial: 'posts/partial/sp-index', collection: @posts, as: :post %>
  </div>
  <%= render 'layouts/shared/sp-banner' %>
  <%= render 'layouts/shared/footer' %><%# スマホ用バナー %>
</body>
