<body>
  <%= render "layouts/shared/header" %>
  <%= render "layouts/shared/flash" %>
  <main>
    <div class="large-container">
      <%= render "posts/partial/new-posts"%>
      <%= render "users/user-lists"%>
      <%= render "posts/partial/mypage-box"%>
    </div>
    <div id="main-container">
      <h2 class="list-title">人気投稿ランキング</h2>
        <ul class="horizontal-list">
          <% @all_ranks.each.with_index(1) do |post, i| %>
            <%= link_to post_path(post),data: {"turbolinks"=>false} do %>
              <li class="item">
                <div class="box-top">
                  <div class="picture">
                    <% if post.image.present? %>
                      <%= image_tag post.image.url, class:"yama-picture"%>
                    <% else %>
                      <%= image_tag"no_image.png", class:"yama-picture"%>
                    <% end %>
                  </div>
                  <div class="yama-description">
                    <div class="like-ranking">
                      <%="第#{i}位"%>
                    </div>
                    <div class="ranking-profile"><%= post.user.nickname %>さんの投稿</div>
                    <div class="yama-display name">
                      <%= post.name %>
                    </div>
                    <div class="yama-display">
                      山頂標高：<%= post.elevation %>M
                    </div>
                    <div class="yama-display">
                      歩行距離：<%= post.walking_distance %>KM
                    </div>
                    <div class="yama-display">
                      <%= post.difficulty_i18n %>
                  </div>
                  </div>
                  <div class="ranking-like-count">
                    <i class="fas fa-heart fa-2x"></i>
                    <span><%= post.likes_count %></span>
                  </div>
                  <img class="user-face" src="https://static.mercdn.net/images/member_photo_noimage_thumb.png">
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% if signed_in? %>
        <h2 class="list-title"><%=current_user.nickname %>さんが登った山リスト</h2>
        <ul class="horizontal-list">
          <%= render partial: 'posts/partial/yama-lists', collection: @current_user_posts, as:'post'%>
        </ul>
        <%= render "meals/partial/meshi-lists" %>
      <% else %>
        <%= render "posts/partial/before-lists" %>
      <% end %>
    </div>
  </main>
  <%= render "layouts/shared/footer" %>
</body>
