<body>
  <%= render "layouts/shared/header" %>
  <%= render "layouts/shared/flash" %>
  <main>
    <div class="large-container">
      <%= render "posts/partial/new-posts"%>
      <%= render "users/user-lists"%>
      <%= render "users/mypage-box"%>
    </div>
    <div id="main-container">
      <h2 class="list-title">人気投稿ランキング</h2>
        <ul class="horizontal-list">
          <%= render 'posts/partial/ranking-lists' %>
        </ul>
      <% if signed_in? %>
        <%= render "meals/partial/meshi-lists" %>
        <h2 class="list-title"><%=current_user.nickname %>さんが登った山リスト</h2>
        <ul class="horizontal-list">
          <%= render partial: 'posts/partial/yama-lists', collection: @current_user_posts, as:'post'%>
        </ul>
      <% else %>
        <%= render "posts/partial/before-lists" %>
      <% end %>
    </div>
  </main>
  <%= render "layouts/shared/footer" %>
</body>
