<%= render 'layouts/shared/header' %>
<%= render 'layouts/shared/flash' %>
<%= render 'layouts/shared/validation-message' %>
<main>
  <div class="new-post-box">
    <div class="new-post-box__container">
      <%= render 'posts/partial/new-post' %>
    </div>
  </div>
</main>
<%= render 'layouts/shared/footer' %>

<%# スマホ用ページ %>
<%= render 'layouts/shared/sp-header' %>
<%= render 'layouts/shared/flash' %>
<%= render 'layouts/shared/validation-message' %>
<div class='sp-main'>
  <div class='sp-new-box'>
    <%= render 'posts/partial/sp-new-post' %>
  </div>
</div>
<%= render 'layouts/shared/sp-banner' %>