<body>
  <%= render "posts/header" %>
  <div class="detail-post-box">
    <div class="detail-post-container">
      <div class="detail-name">
        <%= @post.name %>
      </div>
      <div class="detail-post-picture">
        <% if @post.image.present? %>
          <%= image_tag @post.image.url, class:"detail-yama-picture"%>
        <% else %>
          <%= image_tag"no_image.png", class:"yama-picture"%>
        <% end %>
      </div>
      <h2>山の詳細データ</h2>
      <div class="detail-description">
        <div class="detail-display">
          山頂標高:<%= @post.elevation %>M
        </div>
        <div class="detail-display">
          歩行距離:<%= @post.walking_distance %>KM
        </div>
        <div class="detail-display">
          <%= @post.difficulty_i18n %>
        </div>
      </div>
      <h2>hogeさんの一言コメント</h2>
      <div class="detail-comment">
        <%= simple_format(@post.text) %>
      </div>
      <h2>ユーザーさんからのコメント</h2>
      <div class="detail-comment">ここにuser.commentを最大4件表示する。</div>
      <div class="detail-btn">
        <button class="detail-edit-btn">編集する</button>
        <button class="detail-delete-btn">削除する</button>
      </div>
    </div>
  </div>
  <%= render "posts/footer" %>
</body>