<body>
<%= render "layouts/shared/header" %>
  <main>
    <div class="detail-post-box">
      <div class="user-info">
        <% if @post.user.image.present? %>
          <%= image_tag @post.user.image.url, class:'user-info__face' %>
        <% else %>
          <img class="user-info__face" src="https://static.mercdn.net/images/member_photo_noimage_thumb.png">
        <% end %>
        <div class="user-info__name">
          <%= @post.user.nickname %>
        </div>
      </div>
      <div class="detail-container">
        <div class="detail-container__name">
          <%= @post.name %>
        </div>
        <% if @post.image.present? %>
          <%= image_tag @post.image.url, class:'detail-container__picture' %>
        <% else %>
          <img src="https://mgs01y1.wowma.net/pc/img/common/no_image300.gif?query=201908071342" alt="" class="detail-container__picture">
        <% end %>
        <h2>山の詳細データ</h2>
        <div class="detail-description">
          <div class="detail-description__display">
            山頂標高:<%= @post.elevation %>M
          </div>
          <div class="detail-description__display">
            歩行距離:<%= @post.walking_distance %>KM
          </div>
          <div class="detail-description__display">
            <%= @post.difficulty_i18n %>
          </div>
        </div>
        <h2><%= @post.user.nickname %>さんのコメント</h2>
        <div class="detail-comment">
          <%= simple_format(@post.text) %>
        </div>

        <%= render 'comments/comment' %>

        <% if user_signed_in? && current_user.id == @post.user_id %>
          <div class="detail-btn">
            <%= link_to 'ホーム', root_path, class:'detail-btn__gray' %>
            <%= link_to '編集', edit_post_path(@post), method: :get, class:'detail-btn__gray' %>
            <%= link_to '削除する', post_path(@post), method: :delete, class:'detail-btn__red', data: { confirm: "本当に削除しますか?" } %>
          </div>
        <% else %>
          <div class="detail-btn">
            <%= link_to 'ホーム', root_path, class:'detail-btn__gray' %>
          </div>
        <% end %>
      </div>
    </div>
  </main>
<%= render 'layouts/shared/footer' %>
</body>
<div class='detail-like-btn'>
  <%= render 'likes/like-links', post: @post %>
</div>
<%# スマホ用詳細ページ %>
<%= render 'layouts/shared/sp-header' %>
<div class="sp-main">
  <div class="sp-detail">
    <div class="sp-detail__user">
      <% if @post.user.image.present? %>
        <%= image_tag @post.user.image.url, class:'sp-detail__user__picture' %>
      <% else %>
        <img class="sp-detail__user__picture" src="https://static.mercdn.net/images/member_photo_noimage_thumb.png">
      <% end %>
      <div class="sp-detail__user__nickname"><%= @post.user.nickname %></div>
    </div>
    <div class="sp-detail__pic-box">
      <% if @post.image.present? %>
        <%= image_tag @post.image.url, class:'sp-detail__pic-box__picture' %>
      <% else %>
        <img src="https://mgs01y1.wowma.net/pc/img/common/no_image300.gif?query=201908071342" alt="" class="sp-detail__pic-box__picture">
      <% end %>
    </div>
    <i class="far fa-comment fa-2x">
      <span><%= @post.comments.count %></span>
    </i>
    <h2 class='sp-detail__title'>山のデータ</h2>
    <div class='sp-detail__description'>
      <div class='sp-detail__description__name'>
        山頂標高:
        <div class='sp-detail__description__count'>
          <%= @post.elevation %>M
        </div>
      </div>
      <div class='sp-detail__description__name'>
        歩行距離:
        <div class='sp-detail__description__count'>
          <%= @post.walking_distance %>KM
        </div>
      </div>
      <div class='sp-detail__description__name'>
        <%= @post.difficulty_i18n %>
      </div>
    </div>
    <h2 class='sp-detail__title'>一言コメント</h2>
      <div class='sp-detail__comment'>
      <%= simple_format(@post.text) %>
    </div>
  </div>
</div>
<%= render "layouts/shared/sp-banner" %>