<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQZYIwuZeBUQmxAzHSQKKtyDAuil0SU3CGomVgRTNb13hPHjWN5') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta content="width=device-width, initial=1.0" name="viewport"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
